body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
} 

label {
  display: flex;
  flex-direction: column;
  width:100%;
}

label>p {
  margin: 5px 0;
}

input,select {
  padding: 0 10px;
  font-size:15px;
  width:100%;
  height:25px;
  border-radius:13px;
  border: 1px solid;
}

label>.error {
  color:red;
}

input[type=reset], input[type=submit] {
  border-radius:20px;
}